<!-- Hereda del template main -->
{% extends "main.html" %} {# Herencia #}

<!-- Importar el archivo de macros -->
{% import "macros.html" as macro %}

<!-- Importar macros de formulario -->
{% from "form_macros.html" import show_field, show_submit, show_checkbox %}

<!-- Define el contenido -->
{% block content %}
<!-- Contenido -->
<div class="container">
  <div class="row">
    <div class="col-md-4 d-none d-md-block"></div>
    <div class="col-auto justify-content-center">
      <h1>Edit Seism</h1>
      <br>
      <form method="POST" action="{{ url_for("unverified_seism.edit", id=id) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="btn-group">
                <label class="btn btn-primary pb-0 active">
                  {{show_field(form.verified, type="checkbox")}}
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{ show_submit(form.submit, class="btn btn-success") }}
            </div>
          </div>
        </div>

      </form>
    </div>
    <div class="col-md-4 d-none d-md-block"></div>
  </div>
</div>
<!-- Fin Contenido -->
{% endblock %}